* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Page overall design and common imagery */

#wrap{
	width:805px;
	height:303%;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
    display: flex;
    flex-wrap: wrap;
}


#header {
    width: 805px;
    height: 303px;
    background-image: url("assets/img/original/bannersmalltmp.jpg");
    
}

#leftsidewrap {
    width: 140px;
    height: 100%;
    float: left;
    margin-top: 14px;
    margin-left: 54px;
}

#rightsidewrap {
    width: 521px;
    height: 100%;
    float: right;
    margin-top: 7px;
    margin-right: 65px;
    margin-bottom: 16px;
    padding-left: 30px;
    display: inline-block;
}



#japanbox{
	width:140px;
	height:54px;
	background-image:url(assets/img/original/japan_logosmall.png);
	margin-bottom:16px;
}

/* Table Properties*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* Sidebar & Link properties */

#menubox a{
	width:132px;
	background-color:transparent;
	margin-top:0px;
	margin-left:8px;
	margin-right:0px;
	margin-bottom:0px;
    display: inline-block;
}

#menuitems a{
	width:132px;
	background-color:darkgrey;
    color:black;
	margin-bottom:2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-family: zector;
    font-size: 18px;
    display: inline-block;
    
}

#menuitems :hover {
	color: red;
    font-weight: bold;
    background-color: gray;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    display: inline-block;
    
  }


/* Fonts/Text */

@font-face {
    font-family: Deejay;
    src: url(assets/fnt/Deejay_Font.ttf);
}

@font-face {
    font-family: Zector;
    src: url(assets/fnt/Zector.otf);
}

.icon {
    font-family: 'Deejay';
    font-size: 310px;
    word-break: break-all;
}

.title {
    font-size: 50px;
    font-family: zector;
    font-weight: bold;
    
}

/*Content   */

.line{
    width: 104%;
    height: 10px;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 0;
    }

.imgbord {
    border: 2px;
    border-style: dashed;
    
}

.pixelfed {
    padding-top: 10px;
    padding-left: 55px;
}